##########################        SPIN-H CONFIG        ########################

#### Dataset params ###########################################################
#dataset_name: [la_point, bay_point, la_bock, bay_bock, air, air36]
val_len: 0.1

window: 160  # [24, 36]
stride: 1

#### Training params ##########################################################
whiten_prob: [0.2, 0.5, 0.8]
scale_target: False

epochs: 300
loss_fn: l1_loss

lr_scheduler: cyc
lr: 0.001
patience: 40
precision: 16
batch_size: 25
batch_inference: 20
batches_epoch: 300

#### Model params #############################################################
model_name: 'mtst'
norm: True
node_index: 0
seq_len: 160
hidden_size: 512
num_mtst_ff_layers: 3
num_encoders: 3
