##########################        SPIN-H CONFIG        ########################

#### Dataset params ###########################################################
#dataset_name: [la_point, bay_point, la_bock, bay_bock, air, air36]
val_len: 0.1

window: 512  # [24, 36]
stride: 1

#### Training params ##########################################################
whiten_prob: [0.2, 0.5, 0.8]
scale_target: False

epochs: 100
loss_fn: l1_loss
lr_scheduler: magic
lr: 0.0008
patience: 10
precision: 16
batch_size: 25
batch_inference: 20
batches_epoch: 300

#### Model params #############################################################
model_name: 'mtst'
norm: True
node_index: 0
seq_len: 512